.destaques-article{
    display: inline-block;
    width: 90%;
    height: 100%;
    margin: 0 auto;
   margin-top: 50px;
  

}
.destaques-article-div-inicio{
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    
}
.destaques-h3{
    display: flex; 
    margin-left: 70px;
    color: rgb(63, 60, 60);
    font-family: 'Lora', serif;
    font-size: 25px;   
    font-weight: 500;
    margin: 0 
}
.destaques-article-div-grid{
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 4%;    
    
}
.destaques-article-div-grid-div{
    margin: 0 auto;
    height: 100%;
    margin-bottom: 0px;
    padding: 4px;
    background-color: rgb(255, 255, 255);   
    transition: all 0.5s;   
    border-radius: 10px; 
  
}
.destaques-article-div-grid-div:hover{
    background-color: rgb(240, 240, 240);
    
}


.destaques-article-div-grid-imagem {
    width: 100%;
    height: 50%;
    
}
.destaques-article-div-grid-imagem a img{
    
    width: 100% ;
    height: 100%;
    transition: all 0.5s;
    border-radius: 15px;
}


.destaques-article-div-grid-imagem-info{
    /* background-color: rgb(223, 223, 223); */
    margin-top: 5px;
    border-radius: 15px; 
    border:  1px ;
    border-style: dashed;
    color: rgb(221, 221, 221)
}
.destaques-article-div-grid-imagem-info hr{
    border-bottom: 1px;
    border-style: dashed;
    color: rgb(202, 202, 202)
}

.destaques-article-div-grid-div-p{
    display: block;
    padding-top: 10px;
    color: rgb(100, 100, 100);;
    font-family: 'Lora', serif;
    font-size: 18px;   
    font-weight: 700;
}
.destaques-article-div-grid-div-p-p{
    display: block;
    margin: 5px 0;
    color:rgb(20, 81, 214);
    font-family: 'Lora', serif;
    font-size: 18px;   
    font-weight: 700;
}
.destaques-article-div-grid-div-p-p-p , spam{
    display: block;
    margin: 5px 0;
    color: rgb(100, 100, 100);
    font-family: 'Lora', serif;
    font-size: 15px;  
     
}
.destaques-article-div-navegacao{
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%
}