/* $$$$$$$$$      $$$$$$$$$  */
/* $$$$$$$$$ MENU CONTATO $$$$$$$$$  */
/* $$$$$$$$$      $$$$$$$$$  */

.menu{

    height: 128px;
}

.menu-header-div-contato{
    display: grid;
    grid-auto-columns:  auto;
    grid-auto-flow: column;
    /* background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(102, 102, 102));   */
    background-image: linear-gradient(to bottom, rgb(8, 31, 240), rgb(68, 86, 191))
    
}
.menu-header-div-contato div{
    width: 100%;
    border-left: 1px solid rgb(121, 121, 121);       
}

.menu-header-div-contato ul{
    margin: 2px;
    display: flex; 
    width: auto;
    padding-left: 0px;
    list-style: none;
    justify-content: center; 
    gap: 12px; 
    font-size: 11px;
    color: white;
}
.menu-header-div-contato ul li spam{    
    text-align: center;   
}
.menu-header-div-contato-redes-sociais{

}

.menu-header-div-contato i{
    color: white
}
.menu-header-div-contato-redes-sociais ul{
    /* margin: 0 auto;    */
    margin-top: 11px
}

.menu-header-div-contato-redes-sociais .fa-whatsapp{
    color: rgb(3, 230, 3);
}
.menu-header-div-contato-redes-sociais .fa-facebook{
    color: rgb(213, 213, 213)
}
.menu-header-div-contato-redes-sociais .fa-instagram {
    color: rgb(211, 53, 87);
      
}
.menu-header-div-contato-redes-sociais .fa-youtube{
    color: rgb(221, 44, 44)
}

/* $$$$$$$$$                    $$$$$$$$$  */
/* $$$$$$$$$  MENU NAVEGACAO    $$$$$$$$$  */
/* $$$$$$$$$                    $$$$$$$$$  */

.menu-header-normal{
    display: flex;    
    background-color: rgb(211, 210, 210);
    /* background-image: linear-gradient(to bottom, rgb(157, 157, 157), rgb(109, 109, 109)); */
    background-image: linear-gradient(to bottom, rgb(87, 103, 247), rgb(82, 95, 169));
    width: 100%; 
    height: 82px;     
}
.menu-header-fixed{
    display: flex;    
    background-color: rgb(211, 210, 210);
    /* background-image: linear-gradient(to bottom, rgb(157, 157, 157), rgb(109, 109, 109)); */
    background-image: linear-gradient(to bottom, rgb(87, 103, 247), rgb(82, 95, 169));
    width: 100%; 
    height: 82px;  
    top: 0px   ;
    opacity: 0.7;
    position: fixed;
    z-index: 5000;

    transition: 1.1s ease-in-out;         
}

.menu-header a{
    text-decoration: none;
    color:#ffffff
}


.menu-div-slogan-left{
    width: 10%;      
}
.menu-div-slogan-left img{
    width: 100%;
    border-radius: 15px;   
    height: 100%;
}
.menu-head-div {
    display: flex;    
    width: 65%;    
}

.menu-head-div ul{
    margin-top: 21px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;   
    justify-content: center ;
    text-align: center;
    position: relative;
    padding: 0;    
}
.menu-head-div ul li{
    margin-left: 20px;
    margin-bottom: 10px;
    transition: all 0.3s;
    font-family: 'Lora', serif;
    font-size: 17px;
    color: white  ;
    cursor:pointer
}

.menu-head-div ul li:hover{ 
  transform: scale(1.01);
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5)); 
}

.menu-spam-search{
    position: relative;
    top: 14px;
    left:12%;
    color: rgb(237, 237, 237)
}
