footer{
display: flex;
margin-top: 50px;
height: 250px;
/* background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(118, 118, 118)); */
background-image: linear-gradient(to bottom, rgb(21, 43, 242), rgb(70, 85, 170));
/* opacity: 0.9; */

align-items: center;
}

.footer-div{
display: flex;
width: 85%;
height: 70%;
margin: 0 auto;
align-items: center;
}
.footer-div ul{
    list-style: none;
    padding: 0;
    
    
}
.footer-div-empresa ul li{
    margin: 16% 0%;
    font-family: 'Lora', serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}
.footer-div a{
    text-decoration: none;
    color: rgb(255, 255, 255); 
    transition: 300ms ease-in-out;    
}

.footer-div a:hover{
    color:rgb(160, 160, 160)
}
.footer-div-empresa hr{   
    border-bottom: 0.1em;
    border-style:groove;
}
.footer-div-empresa{
    margin-left: 6%;
    width: 50%;
}

.footer-div-sobre{
    font-family: 'Lora', serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 3%;
}





