.formulario-div-formualario{
  margin: 0 auto;    
  width: 90%;   
  border-radius: 15px;
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
  padding: 10px;
  
  animation-duration: 1.8s;
  animation-name: slidein;
}

/* move a div d esquerda para a direita */
/* @keyframes slidein {
  from {
    margin-left: 90%;
    width: 90%
  }  
  to {
    margin-left: 4%;
    width: 90%;
  }
} */

@keyframes slidein {
  from {
    opacity: 0;
  }  
  to {
    opacity: 1;
  }
}

.formulario-div-formualario-form{
  width: 100%;
}

.formulario-div-formualario-form-hr{
  margin: 30px 0 30px 0;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(114, 114, 114);
  width: 100%;
  
}

.formulario-div-formualario-form h4{
  color:rgb(104, 104, 104);
  margin-left: 15px;
}
.formulario-div-formualario-form-div-grid{
  display: grid;
  
  grid-template-columns: 20%  20% 20% 20%;
  gap: 10px;
  justify-content: center;
  text-align: center;
  
}
.formulario-div-formualario-form-div-grid div{
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  background-color:rgb(176, 176, 197);
  border-radius: 25px;
  font-family: 'Lora', serif;
  color: rgb(68, 68, 68);
  padding: 2px;    
}

.formulario-select-ativado{
  display: flex;
  width: 20%;
 
  top: 40px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* background-color: rgb(214, 58, 58); */
  border-radius: 25px;
  font-family: 'Lora', serif;
  color: rgb(255, 255, 255);
  padding: 2px;    
}

.formulario-div-formualario-form-botao-publicar{
  display: flex;
  justify-content: center;
  text-align: center;
}

.formulario-div-formualario-form-label-imagem{
  color:rgb(58, 58, 58);
  margin-left: 15px;
}

.formulario-preview-div{
  
  height: auto;
display: grid;
grid-template-columns: 31% 31% 33%;
grid-gap: 10px;

}

.formulario-preview-imagens-div img{  
  width: 95%;
  height: 95%;
  border-radius: 25px;
  transition: all .5s;
}

.formulario-preview-imagens-div img:hover{
  opacity: 0.8;
}

.modalbotao .modalbotao-abririmagem{
  border: none;
  /* background-color: rgb(80, 80, 80); */
  /* padding: 10px; */
  border-radius: 10px;
  margin-left: 105px;
  color: rgb(68, 68, 68);
  /* width: 6%; */
  padding: 0;
  cursor:pointer;
  transition: all 0.3s;
}
.modalbotao button:hover{
  transform: scale(1.1);
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
} 
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal img{
display: block;
  width: 100%;
  height: 100%;
 
  border-radius: 10px;
}

.modal div{
  position: fixed;
  width: 80%;
  height: 87%;
  margin: 3% 25% 25% 7%;
  left: 5%;
  justify-content: center;
  text-align: center;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  overflow: auto;
  opacity: 1;
  
  
}

.abrirModal-div{
  border-color: rgb(63, 63, 63) ;
  border-style: groove;
  border-width: 5px;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.fechar {
  position: fixed;
  width: 30px;
  right: 12%;
  top: 17%;
}

.fechar button{
  border: none;
  border-radius: 5px;
background-color: red;
padding: 7px;
color: white
}

.label-imagens-altera-anuncio{
  margin-left: 25px;
  font-family: 'Lora', serif;
  color: rgb(68, 68, 68);
}

.formulario-div-formualario-form-imagem-div{
  display: flex !important;
  position: static !important;;
  margin: 0  0 0 0px  !important;
  width: 40% !important;
  /* height: 55% !important;   */
  animation-duration: 500ms !important;;
  animation-name: preview !important;
  overflow: hidden !important;
}  

.formulario-div-formualario-form-imagem-div a img{
  display: inline-block !important;
  width: 75% !important;
  margin: 0  !important;
}

@keyframes preview {
  from {
    opacity: 0;
  }  
  to {
    opacity: 1;
  }
}

.icon-trash{

color:rgb(106, 106, 106) ;
cursor: pointer ;
transition: all ease-in-out 0.5s ;
}

.icon-trash:hover{
  color: red;  
  transform: scale(1.2);
}


.foromulario-div-formualario-form-imagem-div-div{
  display: inline-block !important;;
  position: static !important;;
  margin: 0  !important;
  height: 20% !important;
  width: 100% !important;
  overflow: hidden !important; 
  justify-content: center;
  text-align: center;
  align-items: center;
}



.modalbotao-salvar{
  position: static !important;
  display: inline-block !important;;
  margin: 50px 0 -90px -70px  !important;
  height: 24% !important;
  overflow: hidden !important;
}

.input-imagens-edicao{
  width: 95px;

}

.formulario-div-formualario-form-label-plus-imagens {
  /* margin-bottom: 130px; */
  font-size: 15px;
  /* background-color: #3039F9; */
  /* padding: 5px; */
  /* border-radius: 5px; */
  font-family: 'Lora', serif;
  color: rgb(68, 68, 68);
  font-weight: bold;
  border-bottom: rgb(58, 58, 58);
  height: 150px;
}



