

.paineladministrativo-div{
    
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(70, 70, 208);
    border-radius: 15px;
    width: 90%;
    margin:  auto;
    color: white;
    font-family: 'Lora', serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 55px;
    
}

.paineladministrativo-article h4{
    
    margin-left: 70px;
    color: rgb(14, 12, 12);
    font-family: 'Lora', serif;
    font-size: 17px;
}
.paineladministrativo-article-div-button{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    background-color: rgb(176, 176, 197);
    border-radius: 15px;
    width: 90%;
    margin:  auto; 
    margin-bottom: 25px;   
    padding: 20px;
    
}

.paineladministrativo-div-formualario{
    margin: 0 auto;    
    width: 90%;   
    border-radius: 15px
}

.paineladministrativo-div-formualario-form{
    width: 100%;
}

.paineladministrativo-div-formualario-form-hr{
    margin: 30px 30px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(114, 114, 114);
}