

.paineladministrativo-div{
    
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(70, 70, 208);
    border-radius: 15px;
    width: 90%;
    margin:  auto;
    color: white;
    font-family: 'Lora', serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 55px;
    
}

.paineladministrativo-article h4{
    
    margin-left: 70px;
    color: rgb(63, 60, 60);
    font-family: 'Lora', serif;
    font-size: 17px;
}
.paineladministrativo-article-div-button{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    background-color: rgb(176, 176, 197);
    border-radius: 15px;
    width: 90%;
    margin:  auto; 
    margin-bottom: 25px;   
    padding: 20px;
    
}

.paineladministrativo-div-formualario{
    margin: 0 auto;    
    width: 90%;   
    border-radius: 15px;
    background-color: rgb(245, 243, 234);
    border-radius: 15px;
    padding: 10px;
}

.paineladministrativo-div-formualario-form{
    width: 100%;
}

.paineladministrativo-div-formualario-form-hr{
    margin: 30px 0 30px 0;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(114, 114, 114);
    width: 100%;
    
}

.paineladministrativo-div-formualario-form h4{
    color:rgb(104, 104, 104);
    margin-left: 15px;
}
.paineladministrativo-div-formualario-form-div-grid{
    display: grid;
    
    grid-template-columns: 20%  20% 20% 20%;
    gap: 10px;
    justify-content: center;
    text-align: center;
    
}
.paineladministrativo-div-formualario-form-div-grid div{
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    background-color:rgb(176, 176, 197);
    border-radius: 25px;
    font-family: 'Lora', serif;
    color: rgb(68, 68, 68);
    padding: 2px;    
}

.paineladministrativo-div-formualario-form-botao-publicar{
    display: flex;
    justify-content: center;
    text-align: center;
}