.detalhesanuncio-article{
    display: block;
    margin-left: 10%;
}
.detalhesanuncio-article-div-titulo{
  font-family: 'Lora', serif;
  color: rgb(104, 104, 104);
  font-size: 30px;
  font-weight: 500;
}

.detalhesanuncio-article-div-carrosel{
    display: inline-block;
    width: 60%;
    position: relative;
    height: 500px;
  
}
.detalhesanuncio-article-div-carrosel img{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}

.detalhesanuncio-article-div-carrosel img.selected{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}
.detalhesanunciodirecao{
    z-index: 500;
    display: flex;
    width: auto;
    position: absolute;
    
}
.detalhesanunciodireita{
    top: 40%;
    left: 90%;
}
.detalhesanuncioesquerda{
    top: 40%;
    left: 4%;
}
.arrow{
    display: flex;    
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.arrow:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}
.detalhesanunciodireita{
    justify-content:right;
}

.detalhesanunciodireita-div-contato-info-detalhes{
    display:inline-block;  
    width: 60%;
    min-height: 500px;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.detalhesanunciodireita-div-contato-info-detalhes p{
    font-size: 16px;
    display: block;
    margin: 0px;
    color: #777777;
    font-weight: 700;    
}
.detalhesanunciodireita-div-contato-info-detalhes-sobre{
    display: block;
   
    /* min-height: 200px; */

}
.detalhesanunciodireita-div-contato-info-detalhes p spam{
    font-family: 'Lora', serif;
    font-size: 16px;
    display: inline-block;
    color: rgb(111, 111, 111);
    margin-bottom: 1px;
    font-weight: 500;
}
.detalhesanunciodireita-opcionais  {
    margin-left: 10px;
    
}
.detalhesanunciodireita-opcionais-div p spam{
    margin-right: 3.5px;
}
.detalhesanunciodireita-div-contato{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 30px;
    position: absolute;
    top: 40%
    
}
.detalhesanunciodireita-div-contato-p{
    display: block;
    font-family: 'Lora', serif;
    font-size: 29px;
    color: rgb(124, 124, 124);
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}
.detalhesanunciodireita-div-contato-div{
border: 1px solid rgb(157, 157, 157);

border-radius: 13px;

}
.detalhesanunciodireita-div-contato-form{
    padding: 10px;
    /* border: 2px solid rgb(135, 163, 204); */
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
}
.detalhesanunciodireita-div-contato-form p{
    font-family: 'Lora', serif;
    font-size: 16px;
    color: rgb(75, 106, 174);
    font-weight: 800;
    border-bottom: 1px solid rgb(163, 163, 163);
    font-style: italic;
    line-height: 24px;
    
}
.detalhesanunciodireita-div-contato-form div{
    margin-top: 8px
}

